<div>
  <div class="back-button-section">
    <button type="button" class="sm-btn sm-btn-tertiary">
      <i class="fa-light fa-arrow-left"></i>
      <%= link_to 'Go Back', students_path, class: 'sm-btn-tertiary text-gray-500' %>
    </button>
  </div>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <p>*To save as PDF: right click -> print-> "Print as PDF" in printer choice dropdown.</p>
      <br>
      <%= render @report %>
    </div>
  </div>
</div>


